@use '../node_modules/scss-reset/reset';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$font-stack: 'Roboto', sans-serif;
$color-dark: #053b50;
$color-medium: #176b87;
$color-normal: #269fbd;
$color-light: #f7f7f7;
$layout-breakpoint-xl: 1200px;
$layout-breakpoint-lg: 992px;
$layout-breakpoint-md: 768px;
$layout-breakpoint-sm: 576px;
$layout-breakpoint-xs: 480px;

body {
  background-color: $color-light;
  font-family: $font-stack;
  h1 {
    font-size: 2em;
    font-weight: bold;
  }
  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }
  h3 {
    font-size: 1.17em;
    font-weight: bold;
  }
}
.app__header {
  display: flex;
  justify-content: center;
  background-color: $color-dark;
  padding: 1rem;
  a {
    text-decoration: none;
  }
  h1 {
    background-color: $color-medium;
    color: $color-light;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
    text-align: center;
  }
  h1:hover {
    background-color: $color-normal;
  }
}
.app__main {
  display: grid;
  place-items: center;
}
.input__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 62rem;
  margin-top: 2rem;
  padding: 1.5rem;
  border: solid 2px $color-dark;
  border-radius: 16px;
  h2 {
    text-align: center;
  }
}
#inputForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  label {
    font-size: 1.17em;
  }
  input {
    width: 56rem;
    border: solid 1px $color-medium;
    border-radius: 8px;
    padding: 0.17rem;
    background-color: $color-light;
  }
  span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    input {
      width: auto;
    }
  }
  input:focus {
    border: solid 2px $color-medium;
  }
  textarea {
    border: solid 1px $color-medium;
    border-radius: 8px;
    padding: 0.17rem;
    background-color: $color-light;
  }
  textarea:focus {
    border: solid 2px $color-medium;
  }
  button {
    background-color: $color-medium;
    padding: 0.37rem;
    border-radius: 8px;
    color: $color-light;
    font-size: 1.17em;
    transition: all 0.3s ease-in-out;
  }
  button:hover {
    background-color: $color-normal;
  }
}

@media screen and (max-width: $layout-breakpoint-xl) {
    #inputForm {
        input {
            width: 48rem;
        }
    }
}

@media screen and (max-width: $layout-breakpoint-lg) {
    #inputForm {
        input {
            width: 40rem;
        }
    }
}

@media screen and (max-width: $layout-breakpoint-md) {
    body {
        h1 {
            font-size: 1.5em;
        }
    }
    #inputForm {
        input {
            width: 30rem;
        }
    }
}

@media screen and (max-width: $layout-breakpoint-sm) {
    #inputForm {
        input {
            width: 24rem;
        }
    }
}

@media screen and (max-width: $layout-breakpoint-xs) {
    #inputForm {
        input {
            width: 14rem;
        }
    }
}